<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 상세 페이지</title>
    <link rel="stylesheet" href="/css/baseStyle.css">
    <style>
        body {
            background: #444;
        }

        #recipe-container {
            width: 80%;
            margin: 40px auto;
            background: #fff;
            border-radius: 20px;
        }

        #recipe-img {
            padding: 2em;
            overflow: hidden;
        }

        #recipe-post-info {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
        }

        #recipe-posts {
            overflow: hidden;
            border-top: 1px solid #d3d3d3;
            border-bottom: 1px solid #d3d3d3;
            margin: 2em 5em;
            padding: 30px 0;
        }

        #recipe-posts iframe {
            display: flex;
            margin: 0 auto;
        }

        .comment-section {
            width: 80%;
            margin: 20px auto;
            padding-top: 10px;
            border-radius: 5px;
        }

        /* 디테일 */
        #recipe-post-info li {
            color: #d3d3d3;
            padding-right: 10px;
        }

        .author {
            font-size: 0.9em;
            text-align: center;
            padding-bottom: 1em;
        }

        .comment {
            margin-bottom: 20px;
        }

        .comment:not(:last-child) {
            padding-bottom: 10px;
        }

        .comment-header {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .comment-buttons {
            margin-top: 10px;
        }

        .comment-buttons button {
            border: none;
            margin-right: 5px;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .title, .center {
            text-align: center;
        }

        .reply-form {
            margin-left: 50px;
        }

        /* 버튼 스타일 정의 */
        .button {
            display: inline-block;
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
        }

        .reply-button {
            border: none;
            padding: 5px 10px;
        }

        /* 댓글 입력 폼 스타일 */
        .comment-form {
            width: 80%;
            margin: 0 auto;
            overflow: hidden;
            box-sizing: border-box;
            position: relative;
        }

        .comment-input {
            width: 100%;
            position: relative;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: none;
        }

        .submit-button {
            color: white;
            width: 7%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 16px;
            text-align: center;
            border: none;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            background-color: #4CAF50;
        }
    </style>
</head>
<body>
<header>
    <a href="/main"><h1 id="title">TITLE</h1></a>
    <div style="position: absolute; top: 10px; right: 10px;">
        <% if (userRealName) { %>
            <p><%= userRealName %>님 환영합니다. &nbsp;&nbsp; <a href="/logout" class="button">로그아웃</a></p>
        <% } else { %>
            <a href="#" id="openModalBtn" class="button" onclick="openLoginModal()">로그인</a>
        <% } %>
    </div>
</header>
<div id="recipe-container">
    <div id="recipe-img">
        <% if (recipe.file_original_name && recipe.file_original_name !== '') { %>
            <ul style="list-style-type: none; padding-left: 0;">
                <% const originalNames = recipe.file_original_name.split(';'); %>
                <% const storedNames = recipe.file_stored_name.split(';'); %>
                <% for (let i = 0; i < originalNames.length; i++) { %>
                    <% const extension = originalNames[i].split('.').pop(); %>
                    <% if (['jpg', 'jpeg', 'png'].includes(extension)) { %>
                        <li style="text-align: center;">
                            <img src="/uploads/<%= storedNames[i] %>" alt="<%= originalNames[i] %>"
                                 style="max-width: 100%; height: auto;">
                        </li>
                    <% } %>
                <% } %>
            </ul>
        <% } %>
    </div>
    <div id="recipe">
        <p class="author">@<%= recipe.author %></p>
        <h1 class="title"><%= recipe.title %></h1>
        <ul id="recipe-post-info">
            <li>생성일ㅣ<%= recipe.created_at %></li>
            <li>조회수ㅣ<%= recipe.views %></li>
            <li>좋아요ㅣ<%= recipe.likes %></li>
        </ul>
        <div id="recipe-posts">
            <%- recipe.content %> <!-- 답글쓰기가 안됨 체크 -->
        </div>
    </div>
    <div class="attachment-section center">
        <div class="attachment-header">첨부 파일</div>
        <% if (recipe.file_original_name && recipe.file_original_name !== '') { %>
            <ul style="list-style-type: none; padding-left: 0;">
                <% const originalNames = recipe.file_original_name.split(';'); %>
                <% const storedNames = recipe.file_stored_name.split(';'); %>
                <% for (let i = 0; i < originalNames.length; i++) { %>
                    <li style="text-align: center;">
                        <!-- 다운로드 링크에 download 속성 추가하여 원본 파일 이름으로 다운로드 -->
                        <a href="/uploads/<%= storedNames[i] %>" download="<%= originalNames[i] %>">
                            <%= originalNames[i] %>
                        </a>
                    </li>
                <% } %>
            </ul>
        <% } else { %>
            <p>첨부된 파일이 없습니다.</p>
        <% } %>
        <div class="comment-section">
            <h3 class="comment-header">댓글</h3>
            <div id="comment-sec">
                <% if (comments && comments.length > 0) { %>
                    <% comments.forEach(comment => { %>
                        <div class="comment">
                            <p><%= comment.author %>
                                <% if (comment.author_id == userId) { %>
                                    (본인)
                                <% } %>
                                &nbsp<%= comment.created_at %>
                            </p>
                            <p class="comment-content" data-comment-id="<%= comment.id %>"><%= comment.content %></p>
                            <!-- 여기서 '.comment-content'를 추가했습니다. -->
                            <div class="comment-buttons">
                                <a href="#" class="reply-button" data-comment-id="<%= comment.id %>">답글쓰기</a>
                                <% if (comment.author_id == userId) { %> <!-- 작성자 본인의 댓글일 경우 -->
                                <button class="edit-button" data-comment-id="<%= comment.id %>">수정</button>
                                <!-- 'data-comment-id' 속성 추가 -->
                                <form action="/deleteComment/<%= comment.id %>" method="POST" style="display: inline;">
                                    <input type="hidden" name="post_id" value="<%= recipe.id %>">
                                    <button type="submit">삭제</button>
                                </form>
                                <% } %>
                            </div>
                            <% if (comment.children && comment.children.length > 0) { %>

                                <% comment.children.forEach(childComment => { %>
                                    <div class="comment reply-form">
                                        <p><%= childComment.author %>
                                            <% if (childComment.author_id == userId) { %>
                                                (본인)
                                            <% } %>
                                            &nbsp<%= childComment.created_at %>
                                        </p>
                                        <p class="comment-content"
                                           data-comment-id="<%= childComment.id %>"><%= childComment.content %></p>
                                        <!-- 여기서 '.comment-content'를 추가했습니다. -->
                                        <div class="comment-buttons">
                                            <a href="#" class="reply-button"
                                               data-comment-id="<%= comment.id %>">답글쓰기</a>
                                            <% if (childComment.author_id == userId) { %> <!-- 작성자 본인의 댓글일 경우 -->
                                            <button class="edit-button" data-comment-id="<%= childComment.id %>">수정
                                            </button>
                                            <!-- 'data-comment-id' 속성 추가 -->
                                            <form action="/deleteComment/<%= childComment.id %>" method="POST"
                                                  style="display: inline;">
                                                <input type="hidden" name="post_id" value="<%= recipe.id %>">
                                                <button type="submit">삭제</button>
                                            </form>
                                            <% } %>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } %>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>댓글이 없습니다.</p>
                <% } %>
            </div>
            <div class="comment-form">
                <form action="/addComment" method="POST">
            <textarea class="comment-input" name="content" rows="5" placeholder="'<%= username %>'님 댓글을 남겨보세요"
                      required></textarea><br>
                    <input type="hidden" name="post_id" value="<%= recipe.id %>">
                    <input type="hidden" name="author_id" value="<%= userId %>">
                    <input type="submit" value="등록" class="submit-button">
                </form>
            </div>
            <div class="center">
                <a href="/boardMain" class="button">이전 페이지로 돌아가기</a>
                <a href="/editPost/<%= recipe.id %>" class="button">수정</a>
                <a href="/deletePost/<%= recipe.id %>" class="button">삭제</a>
            </div>
        </div>
    </div>

    <!-- 이전 페이지로 돌아가기 버튼 -->
    <script src="/js/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('.reply-button').click(function (e) {
                e.preventDefault();
                const commentId = $(this).data('commentId');
                const replyForm = $(this).closest('.comment-buttons').find('.reply-form');
                if (replyForm.length === 0) {
                    const newReplyForm = `
                    <div class="comment reply-form">
                        <form action="/addComment" method="POST">
                            <input type="hidden" name="post_id" value="<%= recipe.id %>">
                            <input type="hidden" name="author_id" value="<%= userId %>">
                            <input type="hidden" name="comment_id" value="${commentId}">
                            <textarea class="comment-input" name="content" rows="3" placeholder="'<%= username %>'님 답글을 남겨보세요" required></textarea><br>
                            <input type="submit" value="등록" class="submit-button">
                        </form>
                    </div>`;
                    $(this).closest('.comment').append(newReplyForm);
                }
            });

            // '수정' 버튼 클릭 시 해당 댓글의 수정 화면을 동적으로 생성
            $(document).on('click', '.edit-button', function (e) {
                e.preventDefault();
                const commentArea = $(this).closest('.comment');
                const commentId = $(this).data('commentId');
                const existingForm = commentArea.find('.edit-form');
                if (existingForm.length === 0) {
                    const commentContent = commentArea.find(`.comment-content[data-comment-id="${commentId}"]`).text().trim();
                    // 수정후 상세 페이지 리다이렉시시 필요한 게시글 id를 지정
                    const postId = '<%= recipe.id %>'; // 게시물 ID 가져오기
                    const editForm = `
                    <div class="comment edit-form">
                        <form action="/editComment/${commentId}" method="POST">
                            <textarea class="comment-input" name="content" rows="3" placeholder="댓글 수정 내용을 입력하세요" required>${commentContent}</textarea><br>
                            <input type="hidden" name="post_id" value="${postId}"> <!-- 게시물 ID hidden으로 추가 -->
                            <input type="submit" value="수정 완료" class="submit-button">
                        </form>
                    </div>`;
                    commentArea.append(editForm);
                }
            });
        });
    </script>
</div>
</body>
</html>
